<form [formGroup]="form" (ngSubmit)="onSubmit()" class="space-y-6">
  <div class="space-y-2">
    <lib-text-input
      formControlName="password"
      [label]="'AUTH.RESET_PASSWORD.PASSWORD_LABEL' | translate"
      [type]="'password'"
      [placeholder]="'******'"
      [icon]="'lock'"
    ></lib-text-input>
  </div>

  <div class="space-y-2">
    <lib-text-input
      formControlName="confirmPassword"
      [label]="'AUTH.RESET_PASSWORD.CONFIRM_PASSWORD_LABEL' | translate"
      [type]="'password'"
      [placeholder]="'******'"
      [icon]="'lock'"
    ></lib-text-input>
  </div>

  <div>
    <lib-button
      type="submit"
      [disabled]="form.invalid || isLoading()"
      [loading]="isLoading()"
      [block]="true"
      variant="primary"
    >
      {{ 'AUTH.RESET_PASSWORD.SUBMIT' | translate }}
    </lib-button>
  </div>
</form>
