@if (step() === 1) {
<form [formGroup]="forgotPasswordForm" (ngSubmit)="submit()" class="space-y-6">
  <div class="space-y-2">
    <lib-text-input
      formControlName="email"
      label="Email"
      placeholder="user@example.com"
      type="email"
    />
  </div>

  <lib-button
    type="submit"
    [loading]="isLoading()"
    [block]="true"
    variant="primary"
    >Submit</lib-button
  >
</form>
} @else if (step() === 2) {
<app-otp-code />
}@else {
<app-reset-password></app-reset-password>
}
