<div class="bg-white dark:bg-zinc-900 p-6 rounded-lg">
  <form
    [formGroup]="passwordForm"
    #formDir="ngForm"
    (ngSubmit)="onSubmit(formDir)"
    aria-label="Change Password Form"
  >
    <div class="flex flex-col gap-6 max-w-xl mb-6">
      <div class="flex flex-col gap-2">
        <lib-text-input
          id="password"
          formControlName="password"
          type="password"
          [label]="'PROFILE_PAGE.OLD_PASSWORD' | translate"
          [placeholder]="'PROFILE_PAGE.ENTER_OLD_PASSWORD' | translate"
        ></lib-text-input>
      </div>

      <div class="flex flex-col gap-2">
        <lib-text-input
          id="newPassword"
          formControlName="newPassword"
          type="password"
          [label]="'PROFILE_PAGE.NEW_PASSWORD' | translate"
          [placeholder]="'PROFILE_PAGE.ENTER_NEW_PASSWORD' | translate"
        ></lib-text-input>
      </div>

      <div class="flex flex-col gap-2">
        <lib-text-input
          id="rePassword"
          formControlName="rePassword"
          type="password"
          [label]="'PROFILE_PAGE.CONFIRM_PASSWORD' | translate"
          [placeholder]="'PROFILE_PAGE.ENTER_CONFIRM_PASSWORD' | translate"
        ></lib-text-input>
        @if (passwordForm.get('rePassword')?.touched &&
        passwordForm.hasError('mismatch')) {
        <small class="text-red-500">Passwords do not match</small>
        }
      </div>
    </div>

    <div
      class="flex items-center justify-end pt-6 border-t border-gray-100 dark:border-zinc-800 max-w-xl"
    >
      <lib-button
        type="submit"
        variant="primary"
        [disabled]="
          passwordForm.invalid || passwordForm.pristine || isLoading()
        "
        [loading]="isLoading()"
      >
        {{ 'PROFILE_PAGE.CHANGE_PASSWORD' | translate }}
      </lib-button>
    </div>
  </form>
</div>
